pppoe:
  build: .
  privileged: true
  restart: always
  environment:
  - pipework_cmd=eth0 @CONTAINER_NAME@ REAL_IP/24@REAL_GW REAL_MAC
  - pipework_key=password
  - PPPOE_DNS1=119.29.29.29
  - PPPOE_DNS2=114.114.114.114
  - PPPOE_LOCAL=11.11.11.1
  - PPPOE_REMOTE=11.11.11.11
  - PPPOE_NUM=20
  - PPPOE_IFACE=eth1
